body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  font-family: inherit;
  color: currentColor;
  margin: 0;
  padding: 0;
}

/* ------------------------------ HEADER ------------------------------ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.herder-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
  position: relative;
}

.header-nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link:hover,
.header-address-link:focus,
.header-nav-link.current {
  color: #404bbf;
}

/* ------------------------------ ONE ------------------------------ */

.section-h-second {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-h-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section {
  padding: 120px 0;
}

.section-h-second,
.section-h-third,
.port-item-subtitle,
.port-item-text,
.team-subtitle,
.team-text {
  text-transform: capitalize;
}

/* ------------------------------ HERO ------------------------------ */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.hero-container {
}

.hero-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-title-btn {
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title-btn:active,
.hero-title-btn:hover,
.hero-title-btn:focus {
  background-color: #404bbf;
}

/* ------------------------------ ADS ------------------------------ */
.ads {
}

.ads-title {
}

.ads-list {
  display: flex;
  gap: 24px;
}

.ads-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.ads-div {
  max-width: 100%;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.ads-icon {
  width: 64px;
  height: 64px;
}

.ads-subtitle {
}

.ads-text {
}

/* ------------------------------ TEAM ------------------------------ */

.team {
  background-color: #f4f4fd;
}

.team-title {
}

.team-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-image {
}

.team-subtitle {
  text-align: center;
  margin: 0;
}

.team-text {
  text-align: center;
}

.div-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  fill: #f4f4fd;
}

/* ------------------------------ PORT ------------------------------ */

.port {
}

.port-title {
}

.port-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.port-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item-cover {
  position: relative;
  overflow: hidden;
}

.port-item:hover .port-cover-text,
.port-item:focus .port-cover-text {
  transform: translateY(0);
}

.port-cover-image {
}

.port-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
}

.port-item-subtitle {
}

.port-item-text {
}

.port-div-cards {
  align-items: flex-start;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-left: 8px;
  padding: 32px 16px;
}
.port-item:hover,
.port-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* ------------------------------ FOOTER ------------------------------ */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.fotter-copyright {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc {
}

.footer-soc-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin-left: 80px;
}

.footer-subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-form-label {
}

.footer-form-input {
  background-color: transparent;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 8px 16px;
  text-align: left;
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-input:placeholder-shown {
  border-color: #fff;
}

.footer-form-btn {
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-icon {
  fill: #fff;
}
